// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

h1 {
  color: rgb(255, 0, 136);
  @include sm{
    color: #E30000;
  }
}

.head_img {
  width: 100%;
  align-content: center;
  @include sm{
    width: 50%;
    align-content: center;
  }
}

header{
  background-color: black;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 30px;
  @include sm{
    flex-direction: column;
    align-items: center;
  }
}

.flex-container1 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 30px;
  background-color: #0088A0;
  @include sm{
    flex-direction: column;
    align-items: center;
  }
}

.text-container {
  width: 50%;
  @include sm{
    width: 90%;
  }
}

img {
  width: 30%;
  @include sm{
    width: 50%;
  }
}

.col1 {
	width: 350px;
	float: left;
  @include sm{
    width: 90%;
  }
}

.col2 {
	width: 350px;
  float: left;
  @include sm{
    width: 90%;
  }
}

.col3 {
	width: 350px;
  float: left;
  @include sm{
    width: 90%;
  }
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}